# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.gitignore
node_modules
ergogen/output

# Zensical build output
site

# KiCad
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*-backups
